* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Open Sans", sans-serif;
}

body {
	background-color: #fff;
	color: #000;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
}

header {
	/* width: 100%; */
	background-color: #1659bf;
	padding-bottom: 30px;
}
header .logo a {
	text-decoration: none;
}
header .logo .title {
	/* width: 670px; */
	/* padding: 70px 0 20px; */
	color: #fff;
	font-size: 38px;
	font-weight: 800;
	line-height: 1em;
}
header .logo .portal-description a {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}
footer {
	padding: 30px 0;
	background-color: #0042b1;
}

.links {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	border: 1px solid red;
}

.link img {
	width: 20%;
	border: 1px solid red;
}

.link a {
	text-decoration: none;
	color: white;
}

/* ---------------------- */

h3 {
	font-size: 30px!important;
	font-weight: bolder!important;
	text-align: center;
	margin-bottom: 30px!important;
}

.btns-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.btn {
	margin-bottom: 10px;
	width: 100%;
}

.btn-group {
	width: 100%;
}

.nav-container {
	display: flex;
	flex-direction: column;
}

.nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.nav-link {
	padding: 5px 10px!important;
}

.multimodelos-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-multimodelos {
	width: 60%;
}

.tab-pane {
	/* border: 1px solid red!important; */
	display: flex;
	gap: 10px;
}

.tab-pane img {
	margin-bottom: 30px;
}

.img-box img {
	width: 100%;
}

.img-box h4 {
	text-align: center;
}
